[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "Shawy-Blog/themes/hugo-bearblog"]
	path = Shawy-Blog/themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
